{% extends 'base.html' %}
{% block content %}
            <h1>Nuevo Pedido</h1>
                <div class="row" ng-app="MyApp">
                    <div class="col-lg-8">
                        <form>
              <div class="form-group">
                  <label for="nombre">Nombre</label>
                  <input type="text" class="form-control" id="nombre", placeholder="Francisco Perez" ng-model="nombre"/>
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Email</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="alguien@email.com" ng-model="email">
              </div>
              <div class="form-group">
                  <label for="nombre">Telefono</label>
                  <input type="text" class="form-control" id="nombre", placeholder="55 55 55 55 55"/>
              </div>
              <div class="form-group">
                  <label for="nombre">Cupón</label>
                  <input type="text" class="form-control" id="nombre", placeholder="ASDFG"/>
              </div>
              <div class="form-group">
              <label for="direccion">Direccion</label>
              <textarea class="form-control" rows="6" ng-model="direccion"></textarea>
              </div>
              <div ng-controller="MapController">
              <ui-gmap-google-map center='map.center' zoom='map.zoom' draggable="true" options="options">
                <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
                </ui-gmap-marker>
              </ui-gmap-google-map>
              <div ng-cloak>
    </div>
              </div>
               <div class="form-group">
                  <label for="nombre">Kilos</label>
                  <input type="number" class="form-control" id="nombre", placeholder="ASDFG" ng-model="kilos"/>
              </div>
                <button type="submit" class="btn btn-primary">Enviar Pedido</button>
            </form>
                        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
                    </div>
                  <div class="col-lg-4">
                    <div class="panel panel-default">
                      <div class="panel-body">
                        <h2>Recibo</h2>
                        <p>{$ nombre $}</p>
                        <p>{$ email $}</p>
                        <p>{$ direccion $}</p>
                        <p>Total: {$ kilos * 30.26 $}</p>
                      </div>
                    </div>
                  </div>
                </div>
{% endblock %}